{% extends "base.html.twig" %}

{% block title %}SymRecipe - Accueil
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue sur Nice Informatique Inventory !</h1>
			<p class="lead">NI Inventory est une application qui va te permettre de gérer ton stock, c'est à dire, ajouter, modifier, créer ou supprimer un produit.</p>
			<hr class="my-4">
			<p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
			<a class="btn btn-primary btn-lgz" href="" role="button">Inscription</a>
		</div>
	</div>
{% endblock %}
